.sidebar .categories ul li ul{
    margin-left: 20px;
}
.sidebar  .categories ul li ul li{
    margin-bottom: 0;
}

.blog-posts .blog-thumb img {
    width: 100%;
    aspect-ratio: 38/28;
    overflow: hidden;
}

.owl-carousel .owl-item img {
    max-height: 500px;
}


.sidebar-item.comments ul li {
    display: grid;
    grid-template-columns: 140px auto;
}


.comment-form textarea {
    width: 100%;
    border: 1px solid #eee;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 5px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;
}

.comment-form-wrap .comment-form{
    display: none;
}

.comment-form-wrap.active .comment-form{
    display: block;
}
